<% provide(:title, 'Home') %>
<div class="center">
    <h1>Memo_app</h1>
    <p>このアプリケーションは経験の重複を防ぎ、<br>また、過去の評価を提供します。</p>
    <%= link_to "新規登録", '#', class: "btn btn-lg btn-outline-primary badge-pill padding_btn" %>
    <%= link_to "ログイン", '#', class: "btn btn-lg btn-outline-success badge-pill padding_btn" %>
</div>