<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-lg-4">
  <span>後ほどリンクか何かをつける users->show</span>
  </div>
  <div class="col-lg-8">
    <% if @user.reviews.any? %>
      <h3>レビュー (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>

