<br>
<%= form_tag link, :method => 'get',:class => "input-group mb-3" do %>
    <div>
    <%= text_field_tag :search, params[:search],:class => "form-control",
    :aria_describedby => "button-addon col-lg-3",:placeholder => message %>
    </div>
    <div class="input-group-append">
        <%= submit_tag "Search", :name => nil,:class => "form-control btn-outline-secondary",:id =>"button-addon" %>
    </div>
<% end %> 