<li>
  <span class="content"><%= reviews.rating %></span>
  <span class="content"><%= reviews.review %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(reviews.created_at) %> ago.
  </span>
</li>
